<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-[100%] h-[100%] bg-black p-10 ">
    <a class="text-white my-4 inline-block" href="/allUsers">All Data</a>
    
        <form action="/create" method="post">
            <input class="px-3 py-2 rounded-xl bg-white " type="text" name="name" placeholder="Name">
            <input class="px-3 py-2 rounded-xl bg-white"  type="text" name="email" placeholder="email">
            <input  class="px-3 py-2 rounded-xl bg-white" type="text" name="image" placeholder="image">
            <input class="px-3 py-2 bg-blue-500 text-white rounded-xl " type="submit">
        </form>
    
</body>
</html>